<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Uliya</title>


  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/static/css/responsive.css" rel="stylesheet" />
</head>

<body>

  <div class="hero_are">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-11 offset-lg-1">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
              <a class="navbar-brand" href="index.html">
                <img src="images/logo.png" alt="">
                <span>
                  Cisco router
                </span>
              </a>
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                  <ul class="navbar-nav  ">
                    <li class="nav-item active">
                      <a class="nav-link" href="index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="configure"> Configure native</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="interfacee"> Interfaces </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="linevty">Line VTY</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="dhcpool">DHCP POOL</a>
                    </li>
                  </ul>
                  <form class="form-inline">
                    <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                  </form>
                </div>

              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section position-relative">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-5 offset-md-1 ">
                  <div class="detail_box">
                    <h1>
                      welcome to<br>
                      so Cisco IOS XE
                    </h1>

                    <p>
                      Cisco IOS XE is widely used in enterprise and service provider environments due to its robustness, flexibility, and the wide range of features it offers for the management and operation of modern networks.
                      </p>
                      <p>Here are some key points about Cisco IOS XE:
                      </p>
                      <p>Cisco IOS XE supports RESTful APIs and YANG data models, facilitating network automation and integration with network management and orchestration tools.</p>
                      <p>Cisco IOS XE is based on a modular architecture that allows different processes to run independently. This improves the system's stability and resilience, as a failure in one module does not affect the entire operating system.</p>
                      <p><strong>
                        To start configuring the router, navigate through the options at the top of the page. This navigator will take you to the section for querying, creating, and deleting some attributes of IOS XE native.
                      </strong> </p>
                    
                  </div>
                </div>
                <div class="col-md-6 px-">
                  <div class="img-bx">
                    <img src="/static/images/ciscoo.avif" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
        </div>
        
      </div>

    </section>
    <!-- end slider section -->
  </div>

  
  
 
  <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.js"></script>

</body>

</html>