<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cisco-IOS-XE</title>
  <link rel="stylesheet" type="text/css" href="/static/css/stylelogin.css">
</head>
<body>
  
<!-- Form-->
<div class="form">
    <div class="form-toggle"></div>
    <div class="form-panel one">
      <div class="form-header">
        <h1>Credential to Cisco-IOS-XE</h1>
      </div>
      <div class="form-content">
        <form method="POST">
          <div class="form-group">
            <label for="usuario">User</label>
            <input id="usuario" type="text" name="usuario" required="required"/>
          </div>
          <div class="form-group">
            <label for="contrasena">Password</label>
            <input id="contrasena" type="password" name="contrasena" required="required"/>
          </div>
          
          <div class="form-group">
            <button type="submit" value="Ejecutar">Log In</button>
          </div>
        </form>
      </div>
    </div>
    
  </div>
  </body>
</html>